/*Каталог*/
 
.page-title-wrap {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.page-title-heading-catalog {
    color: $maincolor;
    @include headfont();
}
.breadcrumb {
    display: flex;
}
.breadcrumb-item {
    @include font();
    font-weight: 300;
    list-style-type: none;
    padding: 65px 0;
}
.breadcrumb-item-link {
    text-decoration: none;
    color: $grey;
}
.active {
    font-weight: 700;
    color: $maincolor;
}

/*Блок фильтра*/

.selection-wrap {
    display: flex;
    justify-content:start;
    align-items:flex-start;
    padding-top: 51px;
    padding-bottom: 64px;   
}
.selection-item {
    width: $cardwidth;
    background-color: white;
    text-align: left;
}
.filter {
    width: 100%;
    position: relative;
    z-index: 1;    
    &-name {
        display: block;
        text-decoration: none;
        color: black;
        padding-bottom: 16px;
        font-weight: 600;
        @include font;
        &:hover{
            color: $maincolor;
        }    
    }
    &-drop {
        position: absolute;
        z-index: 2;
        width: 100%;
        background-color: #FFFFFF;
    }
    &-title {
        &:nth-child(2) {
            margin-top: 18px;
            margin-bottom: 18px;
        }   
    }
    &-category {
        color: $grey;
        @include font();
        font-weight: 400;
        padding-top: 8px;
        padding-bottom: 11.5px;
        padding-left: 11px;
        border-left: $pinkborder;
        display: block;
        border-bottom: 1px solid #EBEBEB;
    }
    &-item {
        font-weight: normal;
        @include font;
        padding-bottom: 11px;
        text-align: left;
    }
    &-list {
        list-style-type: none;
        padding-top: 24px;
        padding-left: 12px;
    }
    &-link {
        text-decoration: none;
        color: $grey;
    }
    &-img {
    fill:black;
    margin-left: 11px;
    }    
}
/* Правила для действий с filter*/
.filter
    ::-webkit-details-marker {
    display: none;
    }    

.filter:hover .filter-img{
    fill: $maincolor;
}

.filter[open] .filter-name {
    color: $maincolor;
    padding-left: 10px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.21);;
}
.filter[open] .filter-img {
    fill: $maincolor;
}
.filter-title[open] .filter-category {
    color: $maincolor;

}

/* Сортировка*/
.sort{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: $cardwidth;
    text-align: left;
    padding-left: 30px;
}
.input {
    &-drop {
        position: absolute;
        display: flex;
        flex-direction: column;
        
    }
    &-title {
        display: none;
    }
    &-check {
        display: none;
    }
}
// .sort-title:hover .input-drop {
//     display: block;

// }
.sort-item::-webkit-details-marker {
    display: none;
}    


.pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    list-style-type: none;
    margin-top: 48.5px;
    margin-bottom: 96.5px;
    padding:12px 30px 12px 30px;
    border: 1px solid #EBEBEB;
}

.page {
    &-link {
    text-decoration: none;
    color: $maincolor;
    }
    &-item {
        padding-right: 20px;
        @include font(16px,19px);
        &:nth-child(7) {
        padding-right: 0;
        }

    }    
}