header {
    background-color:$mainblack;
    position: relative;
}     
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-col-left {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.logo-link {
    margin-right: 41px;
}
.logo-link,.account-link, .cart-link {
    text-decoration: none;
    color: white;
}   
.burger, .search {
    background-color: transparent;
    border: none;
}
.header-col-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-link {
    margin: 0 33px;
}

/* Menu*/

.main-menu {
    background-color: #FFFFFF;
    width: 232px;
    box-shadow: $shadow;
    padding: 40px 36px;
    position: absolute;
    top: 100%;
    right: 0;
    min-height: 765px;
    &-open {
            display: block;
    }
    &-close {
        display: none;
    }
    &-box {
        position: relative;
    }
    &-btn {
        position: absolute;
        background-color: transparent;
        border: none;
        padding: 10px;
        top: -27px;
        right: 27px;   
    }
    &-title {
        font-weight: bold;
        @include font;
        color: #000000;
        margin-bottom: 24px;
    }
    &-item {
        margin-bottom: 20px;
    }
    &-list {
        list-style-type: none;
    }
    &-link {
        text-decoration: none;
        color: $maincolor;
        text-transform: uppercase;
        @include font;
        font-weight: normal;
    }
}

.main-submenu {
    padding-left: 23px;
    list-style-type: none;
    &-item {
        margin-bottom: 11px;    
    }
    &-link {
        text-decoration: none;
        color: $grey;
        font-weight: normal;
        @include font;
    }
}    