/* tablet*/
@media (max-width: 1200px) {
    .wrapper {
        width: 735px;
    }
    .offer-wrap {
        min-height: 368px;
    }
    .offer-title {
        margin-right: 0px;
        @include font(44px, 53px);
    }
    .offer-title-small {
        @include font(24px, 29px);
    }
    .categories {
        padding-top: 20px;
        padding-bottom: 155px;
    }
    .categories-item {
        width: 230px;
        min-height: 168px;
    }
    .categories-wrap {
        gap: 20px;
    }

    .categories-item-acc {
        height: 116px;
        width: 100%;
    }
    .popular-products-wrap {
        margin-top: 73px;
    }
    .popular-products-item {
        margin-bottom: 17px;
    }
    .catalog {
        margin-top: 16px;
        margin-bottom: 65px;
    }
    .registration-right {
        padding-right: 22px;
    }
    .registration-left {
        max-width: 354px;
        &-heading {
            @include font(16px, 19px);
            padding-bottom: 32px;
        }
        &-text,
        &-check {
            @include font(16px, 19px);
        }
        // &-check {
        //     // text-align: justify;
        // }
    }
    .advantages-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .advantages-item:nth-child(2) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .feedback {
        min-height: 690px;
    }
    .feedback-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 54px;
        padding-bottom: 140px;
    }
    .feedback-item-subscribe {
        margin-right: 0;
        padding-top: 48px;
    }
    .feedback-item-form {
        margin-top: 27px;
    }
}

// mobile
@media (max-width: 760px) {
    .wrapper {
        width: 340px;
        outline: 1px solid red;
    }
    .account-link,
    .cart-link {
        display: none;
    }
    .offer-wrap {
        background-image: none;
        min-height: 363px;
    }

    .categories {
        padding-top: 64px;
        margin-bottom: 32px;
    }
    .categories-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    .categories-item {
        width: 343px;
        min-height: 248px;
    }
    .categories-item-acc {
        min-height: 111px;
        width: 100%;
    }
    .catalog {
        margin-top: 41px;
        margin-bottom: 95px;
    }
    .registration-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .registration-right, .registration-left  {
        padding: 20px 5px;
        width: 339px;

    }
    .registration-form {
        width: 339px;
    }

    .feedback {
        min-height: 550px;
    }
    .feedback-item {
        width: 340px;
    }
    .feedback-item-subscribe {
        padding-top: 59px;
    }
    .feedback-heading {
        @include font(14px, 21px);
        margin-bottom: 22px;
    }
    .subscribe {
        font-weight: bold;
        @include font(24px, 37px);
    }
    .feedback-item-form {
        width: 340px;
        justify-content: center;
    }
    .footer-wrap {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .social-icon {
        padding-top: 43px;
        padding-bottom: 10px;
    }
}
