/*Форма регистрации */

.registration {
    background-color: #FFFFFF;
}
.registration-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}
.registration-right {
    padding-right: 130px;
}
fieldset {
    border: none;
    padding-bottom: 33px;
}
legend {
    @include font(16px, 19px);
    font-weight: 300;
    padding-bottom: 20px;
}
.registration-input {
    margin-bottom: 21px;
    padding: 13px 150px 16px 16px;
    border: none;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    &::placeholder {
        color: #B1B1B1;
        @include font(13px, 16px);
    }
}
.registration-label {
    @include font(11px, 13px);
    font-weight: 300;
}
.registration-name-radio {
    margin-right: 10px;
}
.registration-name-text {
    @include font(13px, 16px);
    font-weight: 300;
    color: #B1B1B1;
}
.registration-left-heading {
    @include headfont();
    font-weight: 300;
    padding-bottom: 22px;
}

.registration-left-text,
.registration-left-check {
    @include headfont();
    font-weight: 300;
    padding-bottom: 22px;
}

.registration-left-check::before {
    content: url(../img/check.svg);
    padding-right: 23px;
}

.registration-name-button {
    background-image: url(../img/arrow-cart-btn.svg);
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: center;
    background-color: $maincolor;
    color: #FFFFFF;
    @include font();
    padding: 16px 60px 16px 16px;
    margin-top: 39px;
    border: none;
}
