
$maincolor:#F16D7F;
$darkmain:#EF5B70;
$mainblack:#222222;
$cardwidth:360px;
$thinborder: 1px solid #A4A4A4;
$shift: 42px;
$margin:128px;
$displaywidth:1140px;
$pinkborder:5px solid $maincolor;
$grey:#6F6E6E;
$shadow:6px 4px 35px rgba(0, 0, 0, 0.21);
 

@mixin font ($size:14px, $line:17px) {
    font-size:$size ;
    line-height: $line;    
}
@mixin headfont () {
    font-size: 24px;
    line-height: 29px;;   
}
