/* переменные */
@import "_variable.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: $displaywidth;
    margin: 0 auto;
}
.visiuality-hidden {
    position: absolute;
    left: -999999px;
    width: 0px;
    height: 0;
    visibility: hidden;
} 
/* Шапка    */
header {
    background-color:$mainblack;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-col-left {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.logo-link {
    margin-right: 41px;
}
.logo-link,.account-link, .cart-link {
    text-decoration: none;
    color: white;
}   
.burger, .search {
    background-color: transparent;
    border: none;
}
.header-col-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-link {
    margin: 0 33px;
}
/* Промо блок главной */
.offer {
    background-color: #F1E4E6;   
}
.offer-wrap {
    height: 765px;
    background-image: url(../img/man.png);
    background-repeat: no-repeat;
    background-position-x: -220px ;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.offer-title {
    font-weight: 900;
    @include font(48px,40px);
    border-left: 12px solid $maincolor;
    padding-left: 16px;
    margin-right: 90px;
}
.offer-title-small {
    font-weight: bold;
    @include font(32px,38px);
    color: $mainblack;
}
.offer-title-pink {
    color: $maincolor;
}

/* Промо страницы */
.page-title {
    background-color: #F8F3F4;   
}
.page-title-heading {
    font-style: normal;
    font-weight: normal;
    @include headfont();
    color:$maincolor;
    padding: 60px 0;
}


/* категории товаров */
.categories {
    padding-top: 65px;
    padding-bottom: 96px;
}
.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.categories-item {
    width: 360px;
    height: 260px;
    background-color: #211616B2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}    
.categories-item-women {
    background-image:url(../img/women.png);
}
.categories-item-men {
    background-image: url(../img/men.png);
}
.categories-item-kids {
    background-image: url(../img/kids.png);
}
.categories-sale {
    color: #FFFFFF;
}
.categories-name {
    color: $maincolor;
    text-decoration: none;
}
.categories-item-acc {
    background-image: url(../img/accesories.png);
    height: 180px;
    width: 100%;
    margin-top: 30px;
}
/* Популярные товары  */
.popular-products {
    text-align: center;
}
.popular-products-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}
.popular-products-heading {
    @include font(30px,36px);
    font-weight: 400;
    font-style: normal;
}
.popular-products-text {
    font-weight: 400;
    @include font();
    color: #9F9F9F;
}  
.popular-products-item {
    background-color: #F8F8F8;
    width: $cardwidth;
    height: 581px;
    margin-bottom: 30px;
    overflow: hidden;
    min-height: 420px;
    position: relative;
    transition: 0.5s;
}
.popular-products-item {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.popular-products-item:hover .overlay {
    opacity: 1;
}
.popular-products-item-button {
    color: #FFFFFF;
    padding: 13px 13px 13px 50px;
    background-color: transparent;
    @include font();
    font-weight: normal;
    border: 1px solid #FFFFFF;
    background-image: url(../img/cart-btn.svg);
    background-position: 10px;
    background-repeat: no-repeat;
}
.explain-for-product {
    text-align: left;
    padding: 24px 18px 20px 28px;
}
.explain-for-product-text {
    font-weight: 300;
    @include font();
    color: #5D5D5D;
    padding-top: 12px;
    padding-bottom: 18px;
}
.explain-for-product-price {
    color:$maincolor;
}
.catalog {
    border: 1px solid #FF6A6A;
    padding: 14.5px 38.5px;
    color: #F26376;
    background: none;
    margin-bottom: 95.5px;
    display: inline-block;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @include font(16px,19px);
    font-weight: 400;   
}
.catalog:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}
.center {
    width:calc($displaywidth/50) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Преимущества */
.advantages {
    background-color: #222224;   
}
.advantages-wrap {
    padding: 103px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.advantages-item {
    width: $cardwidth;
}
.advantages-name {
    padding-top: 28px;
    padding-bottom: 16px;
    color:#FBFBFB;
}
.advantages-text {
    color: #FBFBFB;
    font-weight: 300;
    @include font();
    text-align: center;
}

/* Обратная связь */
.feedback {
    background-image: url(../img/subscribe-bg.png);
    background-repeat: no-repeat;
    background-color: rgba(244, 244, 244, 0.7);
    background-size: cover;
    background-position: left bottom;
    min-height: 448px;
}
.feedback-wrap {
    padding-top: 100px;
    padding-bottom: 126px;
    display: flex;
    justify-content: space-between;
}
.feedback-item {
    width: 360px;
    text-align: center;  
}
.feedback-item-text {
    font-weight: normal;
    color: #222224;
    @include font(20px,24px);
}
.feedback-item-text-italic {
    font-style: italic;
    font-weight: normal;
    color: #222224;
    @include font(20px,24px);
}
.img-rewiew {
    padding: 10px 24px 43px 24px;
}
.feedback-item-subscribe {
    margin-right: 74px;
    padding-top: 50px;
}
.feedback-heading {
    @include font(18px,30px);
    font-weight: 400;
    color: #222224;
    margin-bottom: 32px;
}    
.subscribe {
    font-weight: 700;
    @include font(24px,40px);
    color: #222224;
    padding: 16px 20px;  
}
.feedback-item-form {
    margin-top: 32px;
    width: $cardwidth;
    display: flex;
}
.feedback-input {
    padding: 16px 64px 16px 22px;
    background-color: #E1E1E1;
    color: #222224;
    border: none;
    border-radius: 27px 0 0 27px;
    &::placeholder {
        font-weight: normal;
        @include font();
        color:#222224;
        opacity: 0.67;
    }
}
.subscribe-button {
    background-color:$maincolor;
    padding: 7px 8px;
    color: #FFFFFF;
    border:none;
    border-radius: 0 27px 27px 0;
    @include font();
    &:hover{
        background-color: #E05C6E;
    }
}    
/* Подвал */
footer {
    background-color: #222224;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    @include font(16px,19px);
    color: #FBFBFB;
    padding: 30px 0;
}
.social-icon {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.social-icon-item {
        margin-left:7px;
        width: 32px;
        height: 32px;
        padding: 8px 9px 11px 11px;
        background-color:white;
        text-decoration: none;
        color: transparent;
        &:hover{
            background-color: $maincolor;
            color: white;
        }
}
.social-icon-item-img {
    fill: black;
}   
.social-icon-item:hover .social-icon-item-img {
    fill: white;
}

@import "_cart.scss";
@import "_catalog.scss";
@import "_registration.scss";
@import "_product.scss"
