/* переменные */

$maincolor:#F16D7F;
$mainblack:#222222;
$cardwidth:360px;
$thinborder: 1px solid #A4A4A4;



@mixin font ($size:14px, $line:17px) {
    font-size:$size ;
    line-height: $line;    
}
@mixin headfont () {
    font-size: 24px;
    line-height: 29px;;   
}
